
body
{
	background-color:#EDEBEB;
}
.blog-cell
{
		top: 100px;
        margin: 0 auto;
		padding: 20px;

        height:auto;
        width: 888px;
        min-height:300px;
        max-height:900px;

        z-index:1;
        position: relative;
}

.blog-header
{
	background-color: #FA1737;
	height: 300px;
	width: 888px;
	position: relative;
	background-size: cover;
}
.blog-header:hover
{
	cursor: pointer;
}
.blog-header h3
{
	top: 200px;
	left: 25px;
	color: white;
	font-size: 30px;
	position: absolute;
	text-shadow:5px 2px 6px #898181;
}
.blog-footer
{
	background-color: white;
	height: 100px;
	width: 888px;
	position: relative;
}
.portrait
{
	position: absolute;
	top: 20px;
	left: 15px;
	border-radius: 30px;
	width: 60px;
	height: 60px;
}
.myname
{
	position: absolute;
	top: 35px;
	left: 90px;
	font-weight: bold;
	color: #D5CCCC;
}
.mydate
{
	position: absolute;
	top: 60px;
	left: 90px;
	font-weight: 75;
	color: #D5CCCC;
}
.mylabel
{
	position: absolute;
	top: 60px;
	left: 800px;
	font-weight: 75;
	color: #D5CCCC;
}