.content-cell
{
        top: 100px;
        margin: 0 auto;

        height:auto;
        width: 888px;
        min-height:300px;
        max-height:900px;

        z-index:1;
        position: relative;
}
.blog-footer p
{
    padding: 0px;
    margin: 0px;
}
.main-content
{
    background-color: white;
}
img
{
    margin: 0 auto;
}
h3
{
    margin: 15px;
    padding: 5px;
}
p
{
    line-height: 38px;
    padding: 10px;
    margin: 10px;
}
