@import url(http://fonts.useso.com/css?family=Raleway:200,500,700,800);
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?rretjt');
	src:url('../fonts/icomoon.eot?#iefixrretjt') format('embedded-opentype'),
		url('../fonts/icomoon.woff?rretjt') format('woff'),
		url('../fonts/icomoon.ttf?rretjt') format('truetype'),
		url('../fonts/icomoon.svg?rretjt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body{
	background: #f9f7f6;
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
a{color: #2fa0ec;text-decoration: none;outline: none;}

a:hover,a:focus{color:#74777b;}

.htmleaf-container{
	margin: 0 auto;
	text-align: center;
}
.htmleaf-content {
	float: left;
	width: 100%;
	font-size: 150%;
	padding: 1em;
}

.htmleaf-content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

/*Fontawesome Iconfont*/
	@import url(http://libs.useso.com/js/font-awesome/4.0.1/css/font-awesome.min.css);
	@import url(http://fonts.useso.com/css?family=Montserrat);
		* {margin: 0; padding: 0;}
		li {list-style-type: none;}

		.grid {display: block;float: left;width: 980px;margin: 0 auto;}
		.grid > li { width: 285px; height: 500px; overflow: hidden; float: left; margin: 20px 0 20px 30px; position: relative; }
		.grid > li:hover {box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);}

		.grid>li section {position: relative; transition: all 0.25s; width: 100%;}
		.grid>li h2 {font: bold 14px montserrat; color: #fff; text-transform: uppercase; position: absolute; text-align: center; width: 60%; left: 20%; top: 100px; padding: 10px 0; border: 2px solid white; border-radius: 4px;}

		.sidenav { position: absolute; top: 0; left: 0; bottom: 0; background: linear-gradient(rgba(50,60,60, 1), rgba(50,60,60, 0.7)); width: 50px; transition: all 0.25s; overflow: hidden; padding-top: 100px;}
		.sidenav li { _overflow: hidden; width: 150px; }
		.sidenav a { text-decoration: none; color: #eee;  display: block; line-height: 48px;  }
		.sidenav span {display: block;}
		.sidenav b { padding-left 10px; display: block; color: white; font-family: Montserrat; font-size: 12px; line-height: 4; opacity: 0; }
		.sidenav a i { display: block; float: left; font-size: 16px; line-height: 48px; width: 50px; text-align: center; }

		/*All instances*/
		.grid>li:hover .sidenav {width: 150px;}
		.grid>li:hover section {margin-left: 150px;}
		.grid>li:hover b {opacity: 1;}

		/*Three*/
		.three li {overflow: visible;}
		.three a {transform: translateY(100px) translateX(100px); opacity: 0;}
		.three:hover a {transform: translateY(0px) translateX(0); transition: all 0.4s; opacity: 1;}

		.sidenav li:nth-child(1) b, .sidenav li:nth-child(1) a, .sidenav li:nth-child(1) i {transition-delay: .08s;}
		.sidenav li:nth-child(2) b, .sidenav li:nth-child(2) a, .sidenav li:nth-child(2) i {transition-delay: .16s;}
		.sidenav li:nth-child(3) b, .sidenav li:nth-child(3) a, .sidenav li:nth-child(3) i {transition-delay: .24s;}
		.sidenav li:nth-child(4) b, .sidenav li:nth-child(4) a, .sidenav li:nth-child(4) i {transition-delay: .32s;}
		.sidenav li:nth-child(5) b, .sidenav li:nth-child(5) a, .sidenav li:nth-child(5) i {transition-delay: .40s;}
		.sidenav li:nth-child(6) b, .sidenav li:nth-child(6) a, .sidenav li:nth-child(6) i {transition-delay: .48s;}